<%- include('../_layouts/adminheader') %>
<h3>Edit Turf</h3>
<a class="btn btn-primary" href="/admin/turfs">Back to all turfs</a>
<br><br>
<form action="/admin/turfs/edit-turf/<%=id%>" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="">Turf Name</label>
    <input class="form-control" type="text" name="turfName" value="<%= turfName %>" placeholder="Turf Name">
  </div>
  <div class="form-group">
    <label for="">Select City</label>
    <select class="form-control select1" name="city">
      <option>Select City</option>
      <% cities.forEach(function(city) { %>
      <option value="<%= city.cityName %>"
          <% if(city.cityName == selectedCity) { %>
            selected = "selected"
          <% } %>
        ><%= city.cityName %></option>
      <% }) %>
    </select>
  </div>
  <div class="form-group">
    <label for="">Select Area</label>
    <select class="form-control select2" name="area">
    </select>
  </div>
  <div class="form-group">
    <label for="">Address</label>
    <textarea class="form-control" name="address" rows="3" cols="30"><%= address %></textarea>
  </div>
  <div class="form-group">
    <label for="">Prefered Format</label>
    <select class="form-control" name="preferedFormat">
      <% formats.forEach(function(format) { %>
      <option value="<%= format.format %>"
        <% if(format.format == selectedpreferedFormat) { %>
          selected = "selected"
        <% } %>
        ><%= format.format %></option>
      <% }) %>
    </select>
  </div>
  <div class="form-group">
    <label for="">Current Image</label>
    <p>
      <% if(image == "") { %>
        <img id ="noimage" src="/images/noimage.png" alt="">
      <% } else { %>
        <img id ="noimage" src="/turf_images/<%=id%>/<%=image%>" alt="">
      <% } %>
    </p>
</div>
  <div class="form-group">
    <label for="">Upload Image</label>
    <input class="form-control" type="file" name="image" id="img">
    <img src="#" id ="imgPreview">
  </div>
  <h4>Specifications</h4>
  <br>
  <div class="form-group">
    <label for="">Turf Type</label>
    <input class="form-control" type="text" name="turfType" value="<%= turfType %>" placeholder="Turf Type">
  </div>
  <div class="form-group">
    <label for="">Ground Size</label>
    <input class="form-control" type="text" name="groundSize" value="<%= groundSize %>" placeholder="Number ft * Number ft">
  </div>
  <div class="form-group">
    <label for="">Summary</label>
    <textarea class="form-control" name="summary" rows="3" cols="30"><%= summary %></textarea>
  </div>
  <input type="hidden" name="pimage" value="<%=image%>">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  <div style="display:none">
    <% areas.forEach(function(area) { %>
    <p class="getAreas"><%= JSON.stringify(area) %></p>
    <% }) %>
    <p class="selectedArea"><%= JSON.stringify(selectedArea) %></p>
  </div>

<script>
  $(function() {

      var areas = [];
      var selectAllArea = $('p.getAreas');
      var selectedArea = $('p.selectedArea').text();
      var selectedAreaJsonParse = JSON.parse(selectedArea);
      //Get the areas from the ejs
      selectAllArea.each(function() {
        var value = $(this).text();
        var jsonParse = JSON.parse(value);
        areas.push(jsonParse);
      })
      //To Set the actual area depending upon the city
      var currentCity =  $('.select1 :selected').val();
      var allAreas = [];
      allAreas = areas.filter(function(area) {
        if(area.cityName == currentCity) {
          return area;
        }
      });
      $.each(allAreas, function(key, value) { //display all options
        if(value.areaName == selectedAreaJsonParse) {
          $('select.select2')
          .append($("<option></option>")
          .attr("value",value.areaName)
          .attr("selected", "selected")
          .text(value.areaName));
        } else {
          $('select.select2')
          .append($("<option></option>")
          .attr("value",value.areaName)
          .text(value.areaName));
        }
      });
      //flter the area depending upon the selected city
      $('select.select1').change(function() {
        var options = [];
        var selectedCity = $('.select1 :selected').val();
        options = areas.filter(function(area) {
          if(area.cityName == selectedCity) {
            return area;
          }
        });
        $('select.select2').children('option').remove();
        $.each(options, function(key, value) { //display all options
            $('select.select2')
            .append($("<option></option>")
            .attr("value",value.areaName)
            .text(value.areaName));
          // }
        });
      });
      //imgPreview
      function readURL(input) {
      if(input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
          $('#imgPreview').attr('src', e.target.result).width(100).height(100);
        }
        reader.readAsDataURL(input.files[0]);
      }
      }
      $('#img').change(function() {
      readURL(this);
      });
 });
</script>
<%- include('../_layouts/adminfooter') %>
